.grid {
	width: 700px;
	height: 700px;
	border: 1px solid white;
	display: flex;
	flex-wrap: wrap;
}
.cell {
	width: calc(100% / 10);
	height: calc(100% / 10);
	border: 2px solid white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	cursor: pointer;
	color: white;
}

.clicked {
	background-color: dodgerblue;
}
main {
	height: calc(100vh);
}


